@model WeChip.Models.Produto

@{
    ViewBag.Title = "Detalhes do Produto";
}

<h2>Detalhes do Produto</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Produto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoProduto)
        </dd>

        <dt>
            @Html.DisplayName("Preço")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Produto", "Edit", new { id = Model.IdProduto }) |
    @Html.ActionLink("Retornar para Lista", "Index")
</p>
